/* custom css goes here */

.title
{ font-size: 4.0em;
   font-family:  'Arial Narrow', Arial, sans-serif;
   text-align: center;
   color:red;
   }

body
{ background-image: url('../Assets/background.jpg');
  background-size: 100% 300%;
  background-repeat:no-repeat;
}

.container1
{ margin-left:250px;
  color:black;
 
}
.row{
    margin-left:250px;
    color:red;
    
}
.btn-collapse{
    color:#212121;
    font-size: medium;
}

